---
import HeaderLink from "./HeaderLink.astro";
import { metadata } from "../consts";
---

<header>
	<div class="flex flex-row items-baseline">
		<h1>
			<a
				href="/"
				class="text-xl font-black leading-none text-black no-underline font-display"
			>
				<span
					class="text-xl font-black leading-none text-blue-400 font-display"
					>~</span
				>{metadata.title}
			</a>
		</h1>
		<div class="flex flex-grow flex-col justify-end text-right">
			<div class="flex justify-end lg:hidden">
				<button
					id="hamburger-menu"
					class="flex items-center py-8 px-1 text-gray-700 outline-none hover:border-white"
					aria-label="Menu"
				>
					<svg
						class="w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"></path>
					</svg>
				</button>
			</div>

			<nav>
				<div
					id="menu-items"
					class="w-full flex flex-grow flex-row items-end justify-end mb-6 lg:flex lg:items-center lg:w-auto pt-6 lg:pt-0 hidden"
				>
					<HeaderLink href="/posts">articles</HeaderLink>
					<HeaderLink href="/projects">projects</HeaderLink>
					<HeaderLink href="/about">about</HeaderLink>
				</div>
			</nav>
		</div>
	</div>
</header>

<script>
	function toggleNav() {
		const menuBtn = document.querySelector("#hamburger-menu");
		const menuItems = document.querySelector("#menu-items");

		if (!menuBtn || !menuItems) {
			return;
		}

		menuBtn.addEventListener("click", () => {
			const menuExpanded =
				menuBtn.getAttribute("aria-expanded") === "true";
			menuBtn.setAttribute(
				"aria-expanded",
				menuExpanded ? "false" : "true",
			);
			menuBtn.setAttribute(
				"aria-label",
				menuExpanded ? "Open Menu" : "Close Menu",
			);
			menuItems.classList.toggle("flex-col");
			menuItems.classList.toggle("flex-row");
			menuItems.classList.toggle("hidden");
		});
	}

	toggleNav();
</script>
