---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Project from "../../components/Project.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <h3 class="mt-16 mb-8 text-3xl font-bold text-gray-700 font-display">
      All projects
    </h3>

    <div class="grid gap-4 mb-16">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </section>
</Layout>
