---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { metadata } from "../consts";

type Props = {
	thumbnail?: string;
};

const { thumbnail } = Astro.props;

const title = `${metadata.author.name} - Home page`;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={metadata.description}
			image={thumbnail}
		/>
	</head>

	<body>
		<div class="max-w-screen-md px-4 py-12 mx-auto antialiased font-body">
			<Header />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>

<script>
	function tweakExternalLinks() {
		document.querySelectorAll("a").forEach((link) => {
			if (link.hostname === location.hostname) return

			link.setAttribute("target", "_blank");
			link.setAttribute("rel", "noopener noreferrer");
		});
	}

	tweakExternalLinks()
</script>
